@font-face {
  font-family: 'Open Sans';
  src: url("assets/fonts/OpenSans-Light.ttf");
  font-weight: 100;  
}
@font-face {
    font-family: 'Open Sans';
    src: url("assets/fonts/OpenSans-Regular.ttf");
    font-weight: 300;  
  }